.footer1 {
    background-color: rgb(37, 37, 37);
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 150px;
    
    
    }

    .h4-4 {
        letter-spacing: 4px;
        color: white;
        transition: 1s;
        text-align: center;
        margin-top: 20px;
        }
        
        .h4-4:hover {
        transition: 0.3s;
        color: rgb(0, 89, 255);
        letter-spacing: 6px;
        }
        