
<br><br><br><br>

<h1>
    <i class="fa-solid fa-user-group"> </i> About Us
</h1>

<div>
<h3>
    Diese Project wurde von Utku gemacht 
</h3>

<br><br><br><br>
<div>

<img class="img5" src="./assets/image/img5.jpg" alt="">
<p>
    Das hier ist mein 3tes Codereview,<br>
    und es geht hier um Angular. <br>
    Ich bin 15 Jahre alt und werde <br>
    in diesem monat am 30ten Oktober <br>
    endlich 16 das heißt das ich mich <br>
    mit 15 schon für einen Programmierkurs <br>
    entschieden habe und nicht wie jeder <br>
    andere sofort nach der schule geld <br>
    verdienen wolte.
</p>
</div>


</div>




