.btn1 {
    background-color: rgb(255, 255, 255);
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    font-weight: 600px;
    color: rgb(51, 255, 0);
    border-color: rgb(51, 255, 0);
    transition: 0.8s;
    
    
    }
    
    .btn1:hover {
    transition: 0.3s;
    background-color: rgb(51, 255, 0);
    color: white;
    letter-spacing: 2px;
    }
    .d1 {
    background-color: rgb(245, 245, 245);
    
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    border-radius: 15px;
    
    }