<script>
  Swal.fire(
  'Good job!',
  'You clicked the button!',
  'success'
)
</script>















<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Utku's Modern Block Page</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Sidemenu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://codefactory.wien/de/home/">My Course</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>

<br>
<br>
<br>

<br><br><br>




<div class="box1 animate__animated animate__fadeIn  " >
  <button class="btn btn-primary btn1 fa-shake" style="--fa-animation-duration: 2.1s;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Log In <i class="fa-solid fa-user-plus fa-sm"></i></button>

  <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"></h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      
      <i class="fa-solid fa-circle-user fa-4x i1"></i>
      <br>
      <br>
<h3 class="h3-1">
  You Dont Have an Account.
  Create Your Account here.
</h3>
<br>
<br>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2">@example.com</span>
      </div>
      
      <label for="basic-url" class="form-label">Your vanity URL</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
      </div>
      
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        <span class="input-group-text">.00</span>
      </div>
      
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Username" aria-label="Username">
        <span class="input-group-text">@</span>
        <input type="text" class="form-control" placeholder="Server" aria-label="Server">
      </div>
      
      <div class="input-group">
        <span class="input-group-text">With textarea</span>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
      <button type="button" class="btn btn-outline-primary btn4">Create <i class="fa-solid fa-user-plus"></i></button>

    </div>
  </div>

<!-- ---------------------------------------------- -->
<h3 class="Title1">
  HTML, CSS, SASS & SCSS
</h3>
<div class="progress fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.5;">
  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 95%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">95%</div>
</div>

<h3 class="Title1">
JAVASCRIPT
</h3>
<div class="progress fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.5;">
  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 40%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">40%</div>
</div>
<h3 class="Title1">
  TYPESCRIPT
</h3>
<div class="progress fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.5;">
  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 35%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">35%</div>
</div>
<h3 class="Title1">
  ANGULAR
</h3>
<div class="progress fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.5;">
  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 55%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">55%</div>
</div>


</div>
<!-- ----------------------------------------------under box------- -->

  <img class="img1 animate__animated animate__fadeInLeft animate__delay-2s	" src="./assets/image/img1.jpg" alt="">
<div class="d2">
  <h3>
    Hallo Ich bin Utku und  Liebe es zu Programmieren. <br>
    
  </h3>
  <p class="p1">
    In meiner Freizeit Arbeite ich immer <br>
    damit ich mich weiter bilde in meinem <br>
    Traum beruf damit ich in der Zukunft <br>
    leicht und flexibel viel geld verdienen <br>
    kann. Ich gehe derzeit in einem Kurs <br>
    über Softwarerntwicklung, und möchte in <br>
    der Zukunft Selbstsändig sein.
  </p>
</div>


<img class="img2 animate__animated animate__fadeInRight animate__delay-3s	" src="./assets/image/img2.jpg" alt="">



<div style="overflow: hidden; max-height: 285px;">

  <p class="p2">
    I already have my own Website <br>
     Wich is online.I spend Pretty <br>
     much time and worked hours on it <br>
    just to have an Full Responsive <br>
    and Professionel Designed Webpage 
  </p>

</div>


<a class="a2" href="https://www.utku.at/">
Take a Look  <i class="fa-solid fa-right-to-bracket"></i>
</a>

<script>
  
</script>




<img class="img3" src="./assets/image/img3.jpg" alt="">




<footer>
<br>
<h4 class="h4-4">
  2022 Copyright ©

</h4>
<h4 class="h4-4">
  This Webpage is Made for education proposses
</h4>
</footer>
<router-outlet></router-outlet>
